#e1{
    border: 5px solid black;
}
#e2{
    border: 70px solid blue;
    height: 200px;
    width: 400px;
    background-color: yellow;
    margin: 100px;
    align-content: center;
    text-align: center;
}