body{
    margin: 0;
}
nav{
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-around;
    padding: 1 rem;
}
.logo{
    color: white;
    font-size: 1.5 rem;
    font-weight: bold;
}
.menu{
    display: none;
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
}
menu a{
    color: white;
    padding: 1 em;
    text-decoration: none;
    display: block;
}
.hamburger{
    font-size: 2 rem;
    color: white;
    cursor: pointer;
}
@media(min-width: 768px){
    .menu{
        display: flex;
        position: static;
        flex-direction: row;
        background: none;
        width: auto;
}
    .hamburger{
        display: none;
    }
}